@media (max-width: 850px) {
    h1 {
        font-size: 3rem;
    }

    ul {
        padding: 5px;
        margin: 2% auto;
    }
}

@media (max-width: 645px) {
    h1 {
        font-size: 2rem;

        i {
            font-size: 2rem;
        }
    }

    ul li {
        font-size: .75rem;
        text-align: center;
    }
}

@media (max-width: 510px) {

    ul {
        width: 80%;
        padding: 5px;
        margin: 0 auto;
    }

    .catBody {
        background-size: contain;
        margin-top: 10%;
        margin-left: 10%;
    }

    .head {
        width: 170px;
        height: 200px;
    }

    .back {
        width: 70px;
        height: 200px;
    }

    .tail {
        width: 60px;
        height: 200px;
    }

    .backLegs,
    .frontLegs,
    .belly {
        height: 90px;
    }

    .backLegs {
        width: 50px;
    }

    .butthole {
        left: 255px;
        top: 200px;
        width: 15px;
        height: 15px;
    }
    .wrapper {
        max-width: 500px;
    }
}

@media (max-width: 430px) {
    i {
        font-size: .75rem;
    }

    h1 {
        font-size: 1.5rem;
        margin: 5% auto;

        i {
            font-size: 1rem;
        }
    }

    .happiness {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

}

@media(max-width: 350px){
    .catBody{
        margin-left: 5%;
    }

}